{% extends "site_base.html" %}

{% load i18n %}
{% load meetup_tags %}

{% block head_title %}{{ meetup.title }}{% endblock %}

{% block extra_head %}
  <meta property="og:title" content="{{ meetup.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ site.domain }}{{ meetup.get_absolute_url }}" />
  <meta property="og:description" content="{{ meetup.description }}" />
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <section class="">
      <div class="container">
        <h2>{{ meetup.title }}</h2>
        <p>{{ meetup.description|linebreaksbr|urlize }}</p>
        <dl>
          <dt>Where</dt>
          <dd>
            {{ meetup.location.name }}<br />
            {{ meetup.location.full_address }}
          </dd>
          <dt>When</dt>
          <dd>{{ meetup.start_time }}</dd>
          <dt>Who</dt>
          <dd>
            {{ meetup.attendee_count }} coders
            {% if user.is_authenticated %}: {{ meetup.attendee_list|join:", " }}{% endif %}
          </dd>
        </dl>
        {% if user.is_authenticated %}
          {% if user|attending:meetup %}
            <p>You have <a href="{{ meetup.get_absolute_url }}rsvp/" class="btn btn-default">RSVP'd</a> to this meetup.</p>
          {% else %}
            <p>Do you want to <a href="{{ meetup.get_absolute_url }}rsvp/" class="btn btn-default">RSVP</a>?</p>
          {% endif %}
        {% else %}
          <p><a href="/account/login/?next={{ meetup.get_absolute_url }}" class="btn btn-default">Log In</a> to RSVP and see who is attending</p>
        {% endif %}
      </div>
    </section>
{% endblock %}
