{% extends "site_base.html" %}

{% load i18n %}
{% load meetup_tags %}

{% block head_title %}{{ meetup.title }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <section class="">
      <div class="container">
        <h2>{{ meetup.title }}</h2>
        <p>{{ meetup.description }}</p>
        <dl>
          <dt>Where</dt>
          <dd>
            {{ meetup.location.name }}<br />
            {{ meetup.location.full_address }}
          </dd>
          <dt>When</dt>
          <dd>{{ meetup.start_time }}</dd>
        </dl>
        {% if user|attending:meetup %}
          <p>You have <a href="{{ meetup.get_absolute_url }}rsvp/">RSVP'd</a> to this meetup.</p>
        {% else %}
          <p>Do you want to <a href="{{ meetup.get_absolute_url }}rsvp/">RSVP?</a></p>
        {% endif %}
      </div>
    </section>
{% endblock %}
