{% extends "site_base.html" %}

{% load i18n %}
{% load meetup_tags %}

{% block head_title %}Upcoming Meetups{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  {% for meetup in user|upcoming_meetups %}
  <section class="">
      <div class="container">
        <h2><a href="{{ meetup.get_absolute_url }}">{{ meetup.title }}</a></h2>
        <p>{{ meetup.description }}</p>
        <dl>
          <dt>Where</dt>
          <dd>
            {{ meetup.location.name }}<br />
            {{ meetup.location.full_address }}
          </dd>
          <dt>When</dt>
          <dd>{{ meetup.start_time }}</dd>
          <dt>Who</dt>
          <dd>{{ meetup.attendee_count }} coders</dd>
        </dl>
      </div>
    </section>
  {% endfor %}
{% endblock %}
